<%= form_with(model: diagnostico, local: true) do |form| %>
  <% if diagnostico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diagnostico.errors.count, "error") %> prohibited this diagnostico from being saved:</h2>

      <ul>
      <% diagnostico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :principal_fator_id %>
    <%= form.text_field :principal_fator_id %>
  </div>

  <div class="field">
    <%= form.label :secundario_fator_id %>
    <%= form.text_field :secundario_fator_id %>
  </div>

  <div class="field">
    <%= form.label :terciario_fator_id %>
    <%= form.text_field :terciario_fator_id %>
  </div>

  <div class="field">
    <%= form.label :principal_caracteristica_id %>
    <%= form.text_field :principal_caracteristica_id %>
  </div>

  <div class="field">
    <%= form.label :secundaria_caracteristica_id %>
    <%= form.text_field :secundaria_caracteristica_id %>
  </div>

  <div class="field">
    <%= form.label :terciaria_caracteristica_id %>
    <%= form.text_field :terciaria_caracteristica_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
