<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @diagnostico.nome %>
</p>

<p>
  <strong>Principal fator:</strong>
  <%= @diagnostico.principal_fator %>
</p>

<p>
  <strong>Secundario fator:</strong>
  <%= @diagnostico.secundario_fator %>
</p>

<p>
  <strong>Terciario fator:</strong>
  <%= @diagnostico.terciario_fator %>
</p>

<p>
  <strong>Principal caracteristica:</strong>
  <%= @diagnostico.principal_caracteristica %>
</p>

<p>
  <strong>Secundaria caracteristica:</strong>
  <%= @diagnostico.secundaria_caracteristica %>
</p>

<p>
  <strong>Terciaria caracteristica:</strong>
  <%= @diagnostico.terciaria_caracteristica %>
</p>

<%= link_to 'Edit', edit_diagnostico_path(@diagnostico) %> |
<%= link_to 'Back', diagnosticos_path %>
